@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    <h3 style="font-size:20px;color:white">
        We operate 24 hours a day, 365 days a year</br></br>

        Call to book our services now on

        01522 878 670
    </h3>
</address>

<address style="color:black">
    <strong>Suuport</strong>   <a href="mailto:travell@gmail.com">travel@example.com</a><br />

</address>

</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>