@{
    ViewBag.Title = "Home Page";

}

<div>
    <h3 style="color:white">For ShopBridge Shopping Platform </br></br><italic>for shopping brand</italic></h3>
    @*<h1 class="text-center" style="font-size:60px;color:black"><bold>Flight Management System</bold></h1>*@
    <p><a href="https://www.flightslogic.com/about.php" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2 text-align="center" style="color:white">To know more information!</h2>
        <p>

        </p>
        <p><a class="btn btn-primary" href="http://www.flightlinks.net/about">Learn more &raquo;</a></p>
    </div>
    @*<div class="col-md-4">
            <h2>Get more libraries</h2>
            <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Web Hosting</h2>
            <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
        </div>*@
</div>